<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Hangar o’clock songs</title>
  <meta name="description" content="Fluid responsive test design for hangar">
  <meta name="author" content="Alonzo Carballo">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div id="wrap">
    <header>
      <nav>
        <ul>
          <li><a href="#">Now Playing</a></li>
          <li><a href="#">Rate Songs</a></li>
        </ul>
      </nav>
      <div class="masthead">
        <h1>
          <span class="span">
            <img src="images/hangar_icn.png">
          </span>
          <span class="text">Hangar o’clock songs</span>
        </h1>
      </div>
    </header>

    <div class="container">
      <div ng-app="songsApp" ng-controller="songsController"> 
        <form ng-submit="submit()">
          <input type="text" ng-model="text" name="text" placeholder="Search Music" />
          <input type="submit" id="submit" value="" />
        </form>
        <div class="row" ng-repeat="x in songsData">
          <div class="twelve columns">
            <div class="playBtn">
              <a href="{{ x.url  }}"><img src="images/play_btn.png"/></a>
            </div>
            <div class="songDetails">
              <span class="song">{{x.songname | capitalize}}</span>
              <span class="artist">{{ x.artistname | capitalize }}</span>
            </div>
            <div class="mainActions">
              <form>
                <input type="radio" id="{{$index +'_1'}}" name="day" value="today" ng-model="value"> 
                <label for="{{$index +'_1'}}">Today</label>
                <input type="radio" id="{{$index +'_2'}}" name="day" value="Friday" ng-model="value">
                <label for="{{$index +'_2'}}">Friday</label>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class='u-full-width'>
    <ul>
      <li>&reg; 2011 The Hangar Interactive. All rights reserved.</li>
      <li class='gutter'></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><span>|</span></li>
      <li><a href="#">Terms of Use</a></li>
      <li><span>|</span></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </footer>
  <!-- Custom Js Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="js/songsApp.js"></script>

  <!-- End Document
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
